
<%= render 'shared/header_all_pages' %>
    <section class="banner-area-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-div text-center">
              <div class="headline">
                <h1>SEAMLESS CAPITAL ACCESS</h1>
                <h1 class="color-orange">ONE APPLICATION. MULTIPLE OPTIONS.</h1>
              </div>

              <button type="submit" class="btn btn-yellow color-purple">
                <a href="#">APPLY TODAY</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="payment-terms-area bg-offwhite">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 left-div order-two">
            <h1 class="h1-common">
              GET THE FUNDS YOU NEED WITH THE PAYMENT TERMS YOU WANT
            </h1>
            <p class="p-common mb-0">
              We know business cash flow is paramount, that's why we created
              three flexible types of cash you can access with our platform. By
              creating one profile, your application will be presented to
              multiple vendor partners eager to compete for your business. This
              enables you to spend time on your business, rather than raising
              money for it.
            </p>
          </div>
          <div class="col-md-3 order-one">
            <div class="img-div">
              <%= image_tag("product/person.png", alt:"person") %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="business-area-product">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-12">
            <h1 class="h1-common">
              EXPLORE OUR FUNDING SOLUTIONS FOR BUSINESS OWNERS
            </h1>
            <p class="p-common height-100 font-size-18">
              Seamless Capital Access offers three different options that will
              have terms specific to each funding partner, including:
            </p>
          </div>
        </div>

        <div class="row mb-90 justify-content-center">
          <div class="col-md-7 order-two">
            <div class="head-inner">
              SEAMLESS
              <span class="color-green"> ACH</span>
            </div>
            <p class="p-common">
              Seeking working capital with automated fixed repayment options and
              aggressive prepayment incentives? Seamless ACH offers funding
              options from $10,000 to $2,500,000 with daily, weekly and
              bi-weekly payment options*
            </p>
            <button class="btn btn-purple">APPLY TODAY</button>
          </div>
          <div class="col-md-3 order-one">
            <%= image_tag("ach.png", alt:"ach",:class => "float-right") %>
          </div>
        </div>

        <div class="row mb-90 justify-content-center">
          <div class="col-md-3">
            <%= image_tag("split.png", alt:"split",:class => "float-left") %>
          </div>
          <div class="col-md-7">
            <div class="head-inner">
              SEAMLESS
              <span class="color-yellow"> SPLIT</span>
            </div>
            <p class="p-common">
              Would your business benefit from repayment flexibility based on
              future sales? Seamless Split offers funding options from $5,000 to
              $500,000 that fluctuate with the volatility of your daily credit
              card sales. Choose an option that works best for your business
              based on a small percentage of future credit card sales, and avoid
              fixed daily or weekly ACH payments.
            </p>
            <button class="btn btn-purple">APPLY TODAY</button>
          </div>
        </div>

        <div class="row mb-90 justify-content-center">
          <div class="col-md-7 order-two">
            <div class="head-inner">
              SEAMLESS
              <span class="color-orange"> EXPRESS</span>
            </div>
            <p class="p-common">
              We understand business demands change. Whether you are looking for
              relief from an unforeseen circumstance or capital to accelerate an
              opportunity, we've got you covered. Seamless Express offers
              $10,000 to $50,000 of immediate funding to help your business when
              you need it most. Fund as fast as 24 hours from application
              completion with minimal supporting documentation.
            </p>
            <button class="btn btn-purple">APPLY TODAY</button>
          </div>
          <div class="col-md-3 order-one">
            <%= image_tag("express.png", alt:"express",:class => "float-right") %>
          </div>
        </div>

        <div class="row mb-90 justify-content-center">
          <div class="col-md-3">
            <%= image_tag("zero.png", alt:"zero",:class => "float-left") %>
          </div>
          <div class="col-md-7">
            <div class="head-inner">
              SEAMLESS
              <span class="color-purple"> ZERO</span>
            </div>
            <p class="p-common">
              Amidst the pressures of both a worldwide pandemic and inflation,
              our national businesses operate in unprecedented times. Business
              owners are faced with the daily challenge of providing exceptional
              products to their customers in a cost effective manner, without
              sacrificing any quality of service. At Seamless Capital Access, we
              share in the same vision and roadmap to your success. Seamless
              Zero allows merchants to simultaneously eliminate their processing
              fees for credit card acceptance while also providing their valued
              customers with an aggressive cash discount payment incentive. Shed
              the burden of costly credit card processing fees (and finance a
              portion or even all of your working capital funding) by
              integrating with SEAMLESS ZERO today!
            </p>
            <button class="btn btn-purple">APPLY TODAY</button>
          </div>
        </div>
      </div>
    </section>

   

    <section class="guarantee-area bg-offwhite" >
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-12">
          <!-- <h2 class="h2-common color-yellow mb-19">
          WE TRULY CARE. THEY DON'T!
        </h2> -->
            <h1 class="h1-common">OUR SEAMLESS GUARANTEE</h1>
          </div>
        </div>
    
        <div class="row mt-4">
          <div class="col">
            <div class="flex-items">
              <%= image_tag("funds.svg", alt:"funds") %>
              <div>
                <h2 class="h2-common color-purple">Zero</h2>
                <span>Origination Fees</span>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="flex-items">
              <%= image_tag("fees.svg", alt:"fees") %>
              <div>
                <h2 class="h2-common color-purple">Zero</h2>
                <span>Processing Fees</span>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="flex-items">
              <%= image_tag("credit.svg", alt:"credit") %>
              <div>
                <h2 class="h2-common color-purple">Zero</h2>
                <span>Hassles</span>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="flex-items">
              <%= image_tag("calls.svg", alt:"call") %>
              <div>
                <h2 class="h2-common color-purple">Zero</h2>
                <span>Balance Promise</span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <ul class="list-items">
              <li>
                <span>Zero Origination Fees: </span>Receive 100% of your
                approved funds
              </li>
              <li>
                <span>Zero Processing Fees: </span> Completely eliminate your
                credit card processing fees if you opt to switch to our credit
                card processing platform
              </li>
              <li>
                <span>Zero Hassles: </span>No hard credit pull or pushy
                salesperson
              </li>
              <li>
                <span>Zero Balance Promise: </span>Every month we will randomly
                zero out the balance of one of our Seamless accounts
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="funding-area-product">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-12">
            <!-- <%= image_tag("started.PNG", alt:"started",:class => "mb-4") %> -->
            <h1 class="h1-common">BASIC FUNDING REQUIREMENT</h1>
          </div>
        </div>

        <div class="row mb-90 justify-content-center">
          <div class="col-md-3">
            <div class="text-center">
              <%= image_tag("account.PNG", alt:"account", :class => "funding-image") %>
              <div class="text-inner">Business Checking Bank Account</div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="text-center">
              <%= image_tag("calender.PNG", alt:"calender",:class => "funding-image") %>
              <div class="text-inner">6+ months in business</div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="text-center">
              <%= image_tag("revenue.PNG", alt:"revenue",:class => "funding-image") %>
              <div class="text-inner">
                $5k minimum monthly business revenue/$100k annual
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="text-center">
              <%= image_tag("score.PNG", alt:"score",:class => "funding-image") %>
              <div class="text-inner">500+ Credit Score</div>
            </div>
          </div>
        </div>

        <h2 class="h2-common">
          Additionally, if you take credit cards we may be able to eliminate
          your processing fees.
        </h2>
      </div>
    </section>

    <section class="feedback-area-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <h1 class="h1-common text-white">
              WHAT OUR CUSTOMERS LOVE ABOUT SEAMLESS
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-white">
            <%= image_tag("quote.png", alt:"quote") %>
            <p class="fst-italic">
              Seamless truly goes above and beyond for you!!! From beginning to
              end I truly felt like my hand was being held, all questions
              answered before having to ask. My funding concierge checks back in
              with me regularly to make sure all is going well and I have my
              bases covered. I highly recommend as a resource to help expand
              your business. I can't stress enough how “seamless” the process
              was …
            </p>
            <p class="color-purple name-text ps-2">
              -Tony K. Pinehill Trucking, NC
            </p>
          </div>
          <div class="col-md-4 text-white">
            <%= image_tag("quote.png", alt:"quote") %>
            <p class="fst-italic">
              I've been funded now three times with Seamless Capital Access and
              each time the experience is quick, easy, and painless. Purchasing
              inventory and equipment as a business owner is essential, and
              having a company in my back pocket that feels like they'll really
              go to bat for you is exceptional and feels unlike any service in
              the industry I've ever come across.
            </p>
            <p class="color-purple name-text ps-2">
              -Claudia W. Laser Direct Salons, FL
            </p>
          </div>
          <div class="col-md-4 text-white">
            <%= image_tag("quote.png", alt:"quote") %>
            <p class="fst-italic">
              Amazing experience!! After constantly receiving offers from other
              lenders promising me everything, seamless delivered the funds that
              I needed to build my business, and provided it with exceptional
              terms and service. In addition to the funding I received, the
              seamless ZERO allowed me to eliminate my processing fees, and the
              Funding Concierge was outstanding to work with, always making
              himself available and explaining the products in great detail.
            </p>
            <p class="color-purple name-text ps-2">
              -Mark M. Best thing BBQ, TX
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="information-area-product">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="text-wrap">
              <h1 class="h1-common mb-2">More Questions?</h1>
              <p class="p-common mb-0">Let our Funding Concierge reach out.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-div">
              <form
                class="row row-cols-lg-auto g-3 width-480 align-items-center needs-validation"
                novalidate
              >
                <div class="col-6 col-margin">
                  <input
                    type="text"
                    class="form-control input-area"
                    id="firstNameInfo"
                    placeholder="First Name*"
                    required
                  />
                  <div class="invalid-feedback">can't be blank</div>
                </div>

                <div class="col-6 col-margin">
                  <input
                    type="text"
                    class="form-control input-area"
                    id="lastNameInfo"
                    placeholder="Last Name*"
                    required
                  />
                  <div class="invalid-feedback">can't be blank</div>
                </div>

                <div class="col-6 col-margin">
                  <input
                    type="text"
                    class="form-control input-area"
                    id="companyInfo"
                    placeholder="Company*"
                    required
                  />
                  <div class="invalid-feedback">can't be blank</div>
                </div>

                <div class="col-6 col-margin">
                  <input
                    type="text"
                    class="form-control input-area"
                    id="phoneInfo"
                    placeholder="Phone Number*"
                    required
                  />
                  <div class="invalid-feedback">can't be blank</div>
                </div>

                <div class="col-12 col-margin">
                  <input
                    type="text"
                    class="form-control input-area"
                    id="emailInfo"
                    placeholder="Email*"
                    required
                  />
                  <div class="invalid-feedback">can't be blank</div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-yellow color-purple">
                    <a href="#">GET IN TOUCH</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= render 'shared/footer_section' %>