<%= turbo_frame_tag "lead_form" do %>
  <%= simple_form_for Lead.new, validate: true, :html => { :class => 'row mobile-center row-cols-lg-auto g-3 width-430 align-items-center needs-validation' } do |f| %>
    <input name='form_type' type='hidden' value='form' >
    <div class="row">
      <div class="col-6 col-margin">
        <%= f.input_field :first_name, class: 'form-control input-area', id: 'first_name', placeholder: 'First Name*' %>
        <%= f.error :first_name, class: 'invalid-feedback' %>
      </div>
      <div class="col-6 col-margin">
        <%= f.input_field :last_name, class: 'form-control input-area', id:'last_name' , placeholder: 'Last Name*' %>
        <%= f.error :last_name, class: 'invalid-feedback' %>
      </div>

      <div class="col-12 col-margin">
        <%= f.input_field :phone, class: 'form-control input-area', id: 'phone_no' , placeholder: 'Phone Number*' %>
        <%= f.error :phone, class: 'invalid-feedback' %>
      </div>

      <div class="col-12 col-margin mb-3">
        <%= f.input_field :email, class: 'form-control input-area', placeholder: 'Email*' %>
        <%= f.error :email, class: 'invalid-feedback' %>
      </div>

      <div class="col-6 white-text">
        <div class = "radio-lbl">Bussiness for more than <%= min_business_duration_qualification_limit %> months ?</div>
        <%= f.input_field :qualify_business_duration, as: :radio_buttons, class: 'rd-option' %>
        <%= f.error :qualify_business_duration, class: 'invalid-feedback>' %>
      </div>

      <div class="col-6 white-text">
      <div class = "radio-lbl">Monthly revenue is greater than <%= min_monthly_revenue_qualification_limit  %>K ?</div> 
        <%= f.input_field :qualify_monthly_revenue, as: :radio_buttons, class: 'rd-option'  %>
        <%= f.error :qualify_monthly_revenue, class: 'invalid-feedback' %>
      </div>

      <div class="col-12 text-center">
        <%= f.submit 'Apply Now', class: 'btn btn-white mt-3' %>
      </div>
    </div>
  <% end %>
<% end %>